[Source](https://dcl-prog.stanford.edu/purrr-basics.html)

[Source 2](https://www.rebeccabarter.com/blog/2019-08-19_purrr/)

In [1]:
library(tidyverse)

-- Attaching packages ----------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.4     v purrr   0.3.4
v tibble  3.1.1     v dplyr   1.0.6
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

-- Conflicts -------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [6]:
map_dbl(1:4, function(x) x**2)

[1]  1  4  9 16

In [5]:
map_dbl(1:4, function(x) x)

[1] 1 2 3 4

In [7]:
moons <- list(
    earth = 1737.1, 
    mars = c(11.3, 6.2),
    neptune = 
        c(60.4, 81.4, 156, 174.8, 194, 34.8, 420, 2705.2, 340, 62, 44, 42, 40, 60)
)

In [8]:
class(moons)

[1] "list"

In [10]:
map(moons, length)

$earth
[1] 1

$mars
[1] 2

$neptune
[1] 14

In [11]:
map(moons, sum)

$earth
[1] 1737.1

$mars
[1] 17.5

$neptune
[1] 4414.6

In [12]:
map_int(moons, length)

  earth    mars neptune
      1       2      14

In [14]:
typeof(map_int(moons, length))

[1] "integer"

In [15]:
map_dbl(moons, median)

  earth    mars neptune
1737.10    8.75   71.70

In [17]:
map(moons, sort)

$earth
[1] 1737.1

$mars
[1]  6.2 11.3

$neptune
 [1]   34.8   40.0   42.0   44.0   60.0   60.4   62.0   81.4  156.0  174.8
[11]  194.0  340.0  420.0 2705.2

In [18]:
map(moons, sort, decreasing = TRUE)

$earth
[1] 1737.1

$mars
[1] 11.3  6.2

$neptune
 [1] 2705.2  420.0  340.0  194.0  174.8  156.0   81.4   62.0   60.4   60.0
[11]   44.0   42.0   40.0   34.8

In [19]:
km_to_miles <- function(x) {
  x * 0.62
}

In [21]:
a <- map(moons, km_to_miles)

In [22]:
map(a, sort)

$earth
[1] 1077.002

$mars
[1] 3.844 7.006

$neptune
 [1]   21.576   24.800   26.040   27.280   37.200   37.448   38.440   50.468
 [9]   96.720  108.376  120.280  210.800  260.400 1677.224

In [23]:
map(moons, function(x) x*0.62)

$earth
[1] 1077.002

$mars
[1] 7.006 3.844

$neptune
 [1]   37.448   50.468   96.720  108.376  120.280   21.576  260.400 1677.224
 [9]  210.800   38.440   27.280   26.040   24.800   37.200

In [25]:
moons %>%
    map(~ .*0.62)

$earth
[1] 1077.002

$mars
[1] 7.006 3.844

$neptune
 [1]   37.448   50.468   96.720  108.376  120.280   21.576  260.400 1677.224
 [9]  210.800   38.440   27.280   26.040   24.800   37.200

In [28]:
1:5 %>%
    map_dbl(~ .**2)

[1]  1  4  9 16 25

In [29]:
y <- 
    tibble(
        col_1 = c(1, 2, 3),
        col_2 = c(10, 20, 30), 
        col_3 = c(0.1, 0.2, 0.3)
    )

In [30]:
y

  col_1 col_2 col_3
1 1     10    0.1
2 2     20    0.2
3 3     30    0.3

In [33]:
map_dbl(y, median)

col_1 col_2 col_3
  2.0  20.0   0.2

In [34]:
map_dbl(y, sum)

col_1 col_2 col_3
  6.0  60.0   0.6

In [36]:
a <- 1:4 %>%
    map(~ rnorm(50, ., .))

In [37]:
typeof(a)

[1] "list"